body {
    background-color: #ff944d;
}

div.readContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div.readActivity, div.readImage {
    border: 1px solid grey;
    margin: 0;
    height: auto;
    width: 400px;
    word-wrap: break-word;
}

div.readActivity h2, div.readActivity p, div.readActivity h3 {
    margin: 0;
    padding: 8px;
    word-wrap: break-word;
}

div.readActivity h2 {
    background-color: #31c5ff;
    color: white;
}

div.readImage img {
    max-height: 80px;
    max-width: 80px;
    display: block;
}

div.readImage h4, div.readImage p {
    margin: 0;
    padding: 4px;
}

textarea {
    display: block;
}

.sectionHeader {
    text-align: center;
}