body {
    background-color: #ff944d;
}

div.activity-box {
    border: 1px solid grey;
    margin: 40px auto auto auto;
    height: auto;
    min-width: 40%;
    max-width: 60%;
}

div.activity-box h2, div.activity-box p, div.activity-box h3 {
    margin: 0;
    padding: 8px;
    word-wrap: break-word;
}

div.activity-box h2 {
    background-color: #31c5ff;
    color: white;
}

div.activity-box img {
    max-height: 82%;
    width: 100%;
}

div.activity-box-small {
    border: 1px solid grey;
    margin: 50px auto 0 auto;
    height: auto;
    max-height: 50%;
    min-width: 50px;
    max-width: 30%;
}

div.activity-box-small h2, div.activity-box-small p, div.activity-box-small h3 {
    margin: 0;
    padding: 8px;
    word-wrap: break-word;
}

div.activity-box-small h2 {
    background-color: #31c5ff;
    color: white;
}

div.activity-box-small img {
    max-height: 82%;
    max-width: 100%;
}

/*title bar*/
#titleBar {
    background: #31c5ff;
    margin: auto;
    width: auto;
    border: 3px solid blue;
    padding: 10px;
    text-align: center;
}

.logo {
    height: 8%;
    width: 8%;
}

#dropDownBars {

}

#pageTitle {
}


/*Drop Down Code*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}